p{
    color: #000000;
    font-size: 15px;
    font-family: verdana;
}

h1{
    text-align: center;
    color: #071317;
}

body{
    margin: 0px;
    background-image: url(e413d1fab2329c6247759eca71a9e948.jpg)
}

.disciplina{
    color: #ffffff;
    font-family: tahoma;
    text-align: center;
    font-size: 16px;
}

#turma{
    font-size: 10px;
    margin: 0px;
    background-color: black;
    padding: 10px;
}
